body {
    background-color: #1C1C1C;
    font-family: 'Inter', sans-serif;
    margin: 0;
    text-align: center;
}


/* Containers */

#main-container {
    display: grid;
    width: 550px;
    margin: 20px auto 0px;
}

.switch-mode-container {
    background-color: #6943FF;
    padding-top: 20px;
    text-align: end;
}

.conversion-container {
    background-color: #F4F4F4;
    padding: 20px;
}

.header-container {
    display: grid;
    background-color: #6943FF;
    padding: 0px 20px 20px;
}





/*  Header Section */

.main-title {
    color: #fff;
    font-size: 1.5rem;
}

.input-field {
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    justify-self: center;
    text-align: center;
    height: 80px;
    width: 120px;
    margin-top: 20px;
}

.input-field:focus {
    outline: none;
}

.btn {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #3D3D3D;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    justify-self: center;
    width: 120px;
    margin-top: 20px;
    padding: 15px;
}

#btn-mode {
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    padding: 10px 40px;
    margin-right: 30px;
}






/* Conversion OUTPUT section */
.conversion-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 20px;
    padding: 10px;
}

.units-title {
    color: #5A537B;
    margin-bottom: 5px;
}

.units-output {
    color: #353535;
}




/* Light / Dark mode */

.mode-conv-container {
    background-color: #1F2937;
}

.mode-conv-section {
    background-color: #273549;
}

.mode-units-title {
    color: #CCC1FF;
}

.mode-container {
    background-color: #473D6F;
}

.mode-input-field {
    color: #D3D3D3;
    border-color: #9488CA; 
    background-color: #473D6F;
}

.mode-light-text {
    color: #D3D3D3;
}

.mode-btn-convert {
    background-color: #D3D3D3;
    text-shadow: 0px 0px 1px #fff;
}




/* Media Query */


@media only screen and (max-width: 600px) {
    #main-container {
        width: 95%;
    }
 }